PORT=3000
DATABASE_URL="postgresql://nestuser:nestpass@localhost:5439/auth?schema=public"
JWT_SECRET=supersecretjwtkey
JWT_REFRESH=supersecretrefreshkey
GMAIL_USER=your-email@gmail.com
GMAIL_PASS=your-app-password
OAUTH_CLIENT=your-google-client-id
OAUTH_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
CNAME=your-cloudinary-cloud-name
CAPI_KEY=your-cloudinary-api-key
CAPI_SECRET=your-cloudinary-api-secret
STRIPE_SECRET_KEY=your-stripe-secret-key
